* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  /* color: white; */
  background-color: #04152d;
}

.navbar {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  margin: 0 10%;
  z-index: 2;
}

.port {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}

.menu {
  display: flex;
}

.submenu {
  list-style: none;
  display: flex;
  gap: 47px;
}

.submenu a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.menu img {
  height: 50px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 49px;
  z-index: 1;

}

.content{
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  z-index: 1;
  color: #fff;
}

.content h1{
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 33px;
  font-family: "roboto";
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background-clip: border-box; */
}

.content p{
  margin-left: 52px;
  font-family: "roboto";
  font-size: 30px;
  
}

.contactbtn{
  background-color: #576cbc;
  text-decoration: none;
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  background-color: #576cbc;
  color: white;
}

.container img{
  z-index: 1;
  width: 50%;
 
 
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: floating;
  
}

@keyframes floating {
  0%{
    transform: translate(0, 0px);
  }
  50%{
    transform: translate(0, 10px);
  }
  100%{
    transform: translate(0, -0px);
  }
}

.topBlur{
  height: 50vw;
  width: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vh;
  border: 764px;
  position: absolute;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur{
  height: 50vw;
  right: -25vh;
  width: 70vw;
  min-width: 250px;
  min-height: 350px;
  top: 246px;
  left: 10vh;
  border-radius: 764px;
  position: absolute;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .nav{
    align-items: flex-start;
    flex-direction: column;
  }

  .menu{
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    margin-right: 10%;
    position: absolute;
    z-index: 3;
    gap: 11px;

  }

  .bar{
    cursor: pointer;
    display: block;
  }

  .submenu {
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 13px;
    background: rgb(25, 55, 109);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2)0%, rgba(25, 55, 109,1) 100%);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding: 24px 33px;
  }

  .openMenu{
    z-index: 1;
    display: flex;
    margin-top: 10%;
  }
}


