* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  height: 100%;
  /* color: white; */
  background-color: #04152d;
}

.navbar {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  margin: 0 10%;
  z-index: 2;
}

.port {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}

.menu {
  display: flex;
}

.submenu {
  list-style: none;
  display: flex;
  gap: 47px;
}

.submenu a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.menu img {
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 49px;
  z-index: 1;
}

.content {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  z-index: 1;
  color: #fff;
}

.content h1 {
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 33px;
  font-family: "roboto";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* background-clip: border-box; */
}

.content p {
  margin-left: 52px;
  font-family: "roboto";
  font-size: 30px;
}

.contactbtn {
  background-color: #576cbc;
  text-decoration: none;
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  background-color: #576cbc;
  color: white;
}

.container img {
  z-index: 1;
  width: 50%;

  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: floating;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  height: 50vw;
  width: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vh;
  border-radius: 764px;
  position: absolute;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  height: 50vw;
  right: -25vh;
  width: 70vw;
  min-width: 250px;
  min-height: 350px;
  top: 246px;
  left: 10vh;
  border-radius: 764px;
  position: absolute;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.myContainer {
  background-color: rgba(12, 12, 12, 0.6);
  padding: 73px;
  position: relative;
  margin: 129px 10% 0 10%;
  border-radius: 15px;
  z-index: 1;
}

.myContainer h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 35px;
  letter-spacing: 1.75px;
}

.myContent {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.myContent img {
  width: 35%;
}

.myContent ul {
  display: flex;
  color: #fff;
  gap: 50px;
  flex-direction: column;
}

.myContent ul li {
  padding: 25px;
  list-style: none;
  display: flex;
  border-radius: 20px;
  background-size: 0 100%;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  transition: 0.5s;
}

.myContent ul li:hover {
  background-size: 100% 100%;
}

.myContent ul li h3 {
  font-weight: 600px;
  font-size: 25px;
}

.myContent ul li p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .nav {
    align-items: flex-start;
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    margin-right: 10%;
    position: absolute;
    z-index: 3;
    gap: 11px;
  }

  .bar {
    cursor: pointer;
    display: block;
  }

  .submenu {
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 13px;
    background: rgb(25, 55, 109);
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding: 24px 33px;
  }

  .openMenu {
    z-index: 1;
    display: flex;
    margin-top: 10%;
  }
}

@media screen and (max-width: 830px) {
  .content {
    align-items: center;
  }

  .container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 830px) {
  .myContainer {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  .myContent {
    flex-direction: column;
  }

  .myContent img {
    display: none;
  }

  .myContent ul {
    margin-top: 29px;
  }

  .myContent ul li {
    padding-left: 0;
    padding-right: 0;
  }
}

.exContainer{
  color: #fff;
  margin: 79px 10% 0px 10%;
}

.exContainer h2{
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.75px;
  font-size: 35px;
}

.exContent{
  flex-direction: row;
  margin-top: 14px;
  display: flex;
  justify-content: space-evenly;
}

.skillSection{
  display: flex;
  width: 45%;
  gap: 37px;
  flex-wrap: wrap;
}

.skill{
  flex-direction: column;
  gap: 11px;
  align-items: center;
  display: flex;
}

.myImageContainer{
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100%;
  background-color: #19376d;
}

.myImageContainer img{
  width: 75px;
}

.skill p{
  font-weight: 500;
  font-size: 25px;
  font-family: 'Roboto';
}

.exContainer ul{
  gap: 40px;
  flex-direction: column;
  display: flex;
  width: 45%;
}

.exContainer ul li {
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  gap: 17px;
  padding: 24px;
}

.exContent img {
  width: 50px;
}

.historyItemDetails {
  font-family: 'Roboto';
}

.historyItemDetails h3{
  font-weight: 500;
  font-size: 30px;
}

.historyItemDetails p{
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 17px;
  font-size: 25px;
  margin-top: 6px;
}

@media screen and (max-width: 830px) {
  .exContent{
    gap: 34px;
    flex-direction: column;
    align-items: center;
  }

  .skillSection{
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .exContainer ul li {
    gap: 9px;
    width: 100%;
  }
}

